.skeleton-container{
    position: relative;
    margin-top:  1.1666666667em;
    overflow: hidden;
    margin-bottom: em(24px);
    .total-content-container{
        top: 5px;
        left: 5px;
        position: absolute;
        gap: 0.8333333333em;
        .content-container{
            margin-inline-end: rem(24px);
        }
    }
}