// Colors
$clr1:#1c99cb;
$clr2:#006086;
$clr3:#2E3A59;
$clr4:#1E2535;
$clr5:#8F9BB3;
$clr6:#E7ECF5; //Just for details navbar background
$clr7:#F4F4F4; 
$clr8:#fff;

$secondary-clr1:#FBEEF2;
$secondary-clr2:#B1B9C9;
$secondary-clr3:#FF9D2B; // just for star rating
$secondary-clr4:#f0f0f0; // for border of cards
$secondary-clr5:#E4E9F2; // just for dots before guests at details services
$secondary-clr6:#dfeeff; // for labels background
$secondary-clr7:#e5e5e5; // for sortBy background
$secondary-clr8:#dedede; // for border of filter modal
$secondary-clr9:#6F798B; // for show all facilities button
// $navHeight: 65px;

// box-shadows:
$bx-shadow1: 0px 3.13044px 15.6522px #00000026;
$bx-shadow2: 0px 4px 10px #f4f4f4cc;

// border-radius:
$border-radius: 4px;
$layout-padding:15px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;