@font-face {
    src: url(../../fonts/inter/Inter-Bold.ttf);
    font-family:Inter-Bold;
}
@font-face {
    src: url(../../fonts/inter/Inter-Medium.ttf);
    font-family:Inter-Medium;
}

@font-face {
    src: url(../../fonts/inter/Inter-Regular.ttf);
    font-family:Inter-Regular;
}

@font-face {
    src: url(../../fonts/inter/Inter-Light.ttf);
    font-family:Inter-Light;
}

